<!DOCTYPE html>
<link rel="stylesheet" href="../css/style.css" />
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wimbledon</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header>
        <h1>Wimbledon</h1>
        <img src="images/logo.png" alt="Turniej Wimbledon logo">

   </header>
    <nav class="form-buttons">
        <ul>
            <li><a class="<%= navLocation == 'main' ? 'active' : ''%>" href="/">Strona główna</a></li>
            <li><a class="<%= navLocation == 'player' ? 'active' : ''%>"href="/players">Zawodnicy</a></li>
            <li><a class="<%= navLocation == 'coach' ? 'active' : ''%>"href="/coaches">Trenerzy</a></li>
            <li><a class="<%= navLocation == 'match' ? 'active' : ''%>"href="/matches">Mecze</a></li>
        </ul>
    </nav>