<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Trener - edytuj szczegóły</h2>
	<form class="form" novalidate onsubmit="return validateForm();">
		
<label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label>
	<input type="text" name="firstName" value="Jan" id="firstName" placeholder="2-60 znaków">
		<span id="errorFirstName" class="errors-text"></span>

<label for="secondName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
	<input type="text" name="secondName"value="Kowalski" id="lastName" placeholder="2-60 znaków">
		<span id="errorLastName" class="errors-text"></span>
	
<label for="birthDate">Data urodzenia:<abbr title="required" aria-label="required">*</abbr></label></label>
	<input type="text" value="1999-12-03" name="birthDate" placeholder="yyyy-mm-dd" id="date">
		<span id="errorDate" class="errors-text"></span>

<label for="country">Kraj:<abbr title="required" aria-label="required">*</abbr></label>
	<input type="text" name="country" value="Polska" id="country" placeholder="2-60 znaków">
			<span id="errorCountry" class="errors-text"></span>
	
<label for="player">Zawodnik:</label>
	<select name="player">
		<option>Iga Świątek</option>
		<option>Brak</option>
	</select>
	
<div class="form-buttons">
	<p id="errorsSummary" class="errors-text"></p>	
    <input  class="form-button-submit" type="submit" value="Dodaj" />
    <a class="form-button-cancel"  href="trener-szczegoly.html">Powrót</a>    
</div>  
</form>
    </main>
    <%- include('../../fragments/footer.ejs') %>



