<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Mecz - edytuj szczegóły</h2>
	<form class="form" novalidate onsubmit="return validateForm();">

        <label for="zawodnik1">Zawodnik:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="zawodnik1" id="zawodnik1">
            <option>Naomi Osaka</option>
            <option>Iga Świątek</option>
        </select>
        <span id="errorPlayer1" class="errors-text"></span>

        <label for="zawodnik2">Rywal:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="zawodnik2" id="zawodnik2">
            <option>Naomi Osaka</option>
            <option>Iga Świątek</option>
        </select>
        <span id="errorPlayer2" class="errors-text"></span>

        <label for="date">Data:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="date" placeholder="yyyy-mm-dd" value="2020-05-31" id="date" />
        <span id="errorDate" class="errors-text"></span>

        <label for="kort">Kort:<abbr title="required" aria-label="required">*</abbr></label>
        <select id="place" name="kort">
            <option>Kort nr 1 im. Borisa Becker'a</option>
            <option>Kort nr 4 im. Stana Smitha</option>
        </select>
        <span id="errorPlace" class="errors-text"></span>


        <label for="wynik">Wynik:</label>
        <input type="text" value="1:6 2:6" name="wynik" id="wynik" />
        <span></span>


        <label for="round">Nr rundy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="runda" value="4" id="round" />
        <span id="errorRound" class="errors-text"></span>


        <label for="winner">Zwycięzca:</label>
        <select id="winner" name="winner">
            <option>Naomi Osaka</option>
            <option>Iga Świątek</option>
            <option>brak</option>
        </select>

<div class="form-buttons">
    <p id="errorsSummary" class="errors-text"></p>
    <input class="form-button-submit" type="submit" value="Zapisz" />
     <a class="form-button-cancel" href="mecze.html">Powrót</a>    
</div>  
</form>
    </main>
    <%- include('../../fragments/footer.ejs') %>





